* {
  box-sizing: border-box;
}

::selection {
  background: #1976d2;
  color: #fff;
}

.container {
  display: table;
  margin: 0 auto;
}

.draw-area {
  overflow: auto;
  display: table;
  margin: 0 auto 1rem;
  border: 3px solid #1976d2;
}

.control-buttons {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: block;  
}

.lines-list {
  margin: 0; 
  padding: 2rem;
  list-style: none;
  background: #ccc;
}